 
     
  .footer-container
  {
    width: 100%;
   /* background: url(../../../assets/images/home/bottom_image.png);*/
    width: 100%;    
    background-size: cover;
    background-repeat: no-repeat;  
    text-align: center;
    color: #5a5a5a;
    h5{margin: 0px;position: absolute;width: 100%;}
    img{width: 100%;}
  }
 
