select{
    width: 100%;
    padding: 8px;
    height: 2.2em;
    line-height: 2;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #868585;
    font-size: 18px !important;
    option{padding: 5px;}

}