.form-container
{
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_con{
  color:  #168e8e;
}
.btn-con{
  background: #168e8e;
    padding: 10px 20px;
    border: 1px solid;
    color: white;
}